
/*
 * Contributor Promotion CSS
 */
body, div, span, h1, h2, h3, h4, h5, h6, a, label, input, select, button {
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333;
}
/* surrounding */
#contributor {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  max-width: 1000px;
  /*width: 100%; */
}

#contributor.teaser {
  max-width: 500px;
}

#contributor .details {
  display: table;
}

/* image */
#contributor .frame {
  float: right;
  border: #649D23 1px solid;
  padding: 20px;
  margin: 0 20px 20px 20px;
}

#contributor.teaser .frame {
  border: none;
  padding: 0px;
}

#contributor .frame .caption, #contributor .frame .caption a {
  font-size: 90%;
}

#contributor.teaser .frame .caption, #contributor.teaser .frame .caption a {
  font-size: 70%;
}

#contributor .frame img {
  max-width: 300px;
  max-height: 500px;
}

#contributor .row {
  display: table-row;
}

#contributor .label, #contributor .value {
  padding: 2px 4px;
}

#contributor .label {
  display: table-cell;
  color: #999;
}

#contributor .value {
  display: table-cell;
}
